body {
    background-color: #a4b8c4;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


#header {
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    font-family: 'Dosis', sans-serif;
    font-size: 32px;
    color: rgba(20, 17, 17, 0.973);
    background-color: #d9d0de;
    text-align: center;
    border-bottom: 2px solid rgba(128, 128, 128, 0.473);
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    background-color: #a4b8c4;
    flex: 1;
}

#left {
    display: flex;
    flex-direction: row;
    min-width: 360px;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10px;
    padding-top: 25px;
    padding-bottom: 15px;
}

#right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 360px;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10px;
    font-weight: 600;
}

#center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #bfada3;
    border-left: 2px solid rgba(128, 128, 128, 0.473);
    border-right: 2px solid rgba(128, 128, 128, 0.473);
    line-height: 40px;
    padding: 20px;
    font-size: 30px;
}

#footer {
    display: flex;
    flex-direction: row;
    background-color: #c09bae;
    justify-content: center;
    font-family: 'Dosis', sans-serif;
    border-top: 2px solid rgba(128, 128, 128, 0.473);
}

img {
    height: 200px;
    width: 300px;
    border: 1px solid rgba(128, 128, 128, 0.473);
    border-radius: 10%;
}

#koala {
    height: 325px;
    width: 250px !important;
    margin: 10px;
    border: 1px solid #d9d0de;
}



.code {
    font-size: 18px;
    margin-top: 8px;
}

a:link, a:visited {
    color: black;
}

a:hover {
    color: rgb(73, 140, 160);
}

@media all and (max-width: 975px) {

    #main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #left {
        flex-direction: column;
        align-content: space-between;
        justify-content: space-around;
    }

    #icon {
        padding: 10px;
    }

    .special {
        margin: 20px;
    }

    #header {
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
        width: 100vw;
    }
  }

  /* @media all and (min-width: 975px) {
      main {
          height: 100vh;
      }
  } */

  /* @media all and (max-height: 800){
      body {
          display: flex;
          align-items: stretch;
      }
  } */
    